
.tag {
    background:#17a2b8;
    border-color: #17a2b8;
}

html, body, #app {
    margin: auto;
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}

#site {
    flex: 1;
    width: 100%;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#queries {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: paleturquoise;
}

.query {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.anyall-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker {
    display: flex;
    flex-direction: column;
}

.picker-item {
    flex: 1;
}

.query-title {
    margin: auto;
    user-select: none;
    font-family: "Lucida Console"
}

.slider-title {
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.slider-proper {
    position: relative;
}

.first-slider-badge {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.second-slider-badge {
    flex: 1;
    display: flex;
    justify-content: center;
}

.third-slider-badge {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#cards {
    flex: 4;
    margin: 5px;
    background-color: palevioletred;
}

.thumb {
    pointer-events: none;
}

input[type='range'] {
    pointer-events: none;
}

input[class='thumb custom-range']::-webkit-slider-runnable-track {
    background-color: transparent;
}

input[class='thumb custom-range']::-moz-range-track {
    background-color: transparent;
}

input[class='thumb custom-range']::-webkit-slider-thumb {
    background: #434343;
    pointer-events: all;
}

input[class='thumb custom-range']::-moz-range-thumb {
    background: #434343;
    pointer-events: all;
}

input[class='corer custom-range']::-moz-range-track {
    background-image: transparent;
}

input[class='corer custom-range']::-webkit-slider-thumb {
    background: transparent;
}

input[type='corer custom-range']::-moz-range-thumb {
    background: transparent;
}

:root {
    --lowerbound: 0%;
    --upperbound: 100%;
}

input[class='corer custom-range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, #dee2e6 var(--lowerbound), #434343 var(--lowerbound) var(--upperbound), #dee2e6 var(--upperbound) 100%);   
}