<!DOCTYPE html>
<html lang="en">
<head>
    <title>DMDB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
   </head>
<body>
<div id="app">
<!--
    TEMPLATES
    TEMPLATES
    TEMPLATES
-->

    <!--
        TAGS
    -->
    <script type='text/x-template' id='tags'>
        <div class="column-container">
            <b-input-group v-for="(row, index) in modelvar.rows">
                <b-form-tags @input="modi()" @change="modi()" input-id="tags-pills" v-model="modelvar.rows[index]" tag-variant="secondary" tag-pills size="sm" remove-on-delete :placeholder="(row && row.length > 0 ) ? '' : 'Name, race, effect...'"/> 
                <b-input-group-append>
                    <b-button @click="addrow(index)" size="sm" :variant="(modelvar && ((index + 1) == modelvar.rows.length)) ? 'secondary' : 'danger'">{{ (modelvar.rows && ((index + 1) == modelvar.rows.length)) ? '+' : 'X' }}</b-button>
                </b-input-group-append>
            </b-input-group>
        </div>
    </script>

    <!--
        PICKER
        param: opts
        An array of objects with the "text" and "class" properties set
    -->
    <script type='text/x-template' id='picker'>
        <div class="picker-container">
            <b-form-checkbox pill class="picker-item" @input="modi()" v-for="opt in opts" @change="conflict(opt.value)" v-model="modelvar[opt.value]" name="whatever" :size="opt.size" button squared :button-variant="opt.variant"><font size="1">{{opt.text}}</font></b-form-checkbox>
        </div>
    </script>

    <!--
        SLIDER
        param: points
        An array of numbers at which the slider points should be located
    -->

    <script type='text/x-template' id='slider'>
        <div class="paddin-column-container">
            <div class="slider-title">
                <div class="first-slider-badge">
                    <b-badge pill>{{ Math.min(modelvar.lower, modelvar.upper) }}</b-badge>
                </div>
                <div class="second-slider-badge">
                    <b-badge>{{ title }}</b-badge>
                </div>
                <div class="third-slider-badge">
                    <b-badge pill>{{ Math.max(modelvar.lower, modelvar.upper) }}</b-badge>
                </div>
            </div>
            <div class="slider-proper">
                <b-form-input ref="background_slider" class="corer" style="position: absolute; z-index: 1;" type="range" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" @input="update()" @change="instantupdate()" style="position: absolute; z-index: 2;" type="range" v-model="modelvar.lower" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" @input="update()" @change="instantupdate()" style="position: absolute; z-index: 3;" type="range" v-model="modelvar.upper" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
            </div>
        </div>
    </script>

<!--
    END TEMPLATES
    END TEMPLATES
    END TEMPLATES
-->

    <div id="site">
        <div id="queries">
            
            <div id="taggroup" class="query">
                <tags :modi="heh" :modelvar="tagsmodel"/>
            </div>

            <div class="query pickem">
                <picker :modi="heh" :modelvar="civmodel" :opts="civs"></picker>

                <div class="pickem-down">
                    <picker :modi="heh" :modelvar="typmodel" :opts="types"></picker>
                    <picker :modi="heh" :modelvar="civtypmodel" :opts="civtypes"></picker>
                </div>
            </div>

            <div class="query">
                <slider class="sliderman" :modi="heh" :modelvar="costmodel" title="COST" :points="cost_points"></slider>
            
                <slider class="sliderman" :modi="heh" :modelvar="powermodel" title="POWER" :points="power_points"></slider>

                <slider class="sliderman" :modi="heh" :modelvar="setmodel" title="SET" :points="set_points"></slider>
            </div>

            <div style="padding: 5px;">
                <b-button block @click="reset()" id="reset-button"></b-button>
            </div>
        </div>

        <div id="cards"/>

    </div>
</div>

    <script src="index.js"></script>

</body>
</html>
