<!DOCTYPE html>
<html lang="en">
<head>
    <title>DMDB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
   </head>
<body>
<div id="app">
<!--
    TEMPLATES
    TEMPLATES
    TEMPLATES
-->

    <!--
        TAGS
    -->
    <script type='text/x-template' id='tags'>
        <div>
            <b-form-tags @input="modi()" input-id="tags-pills" v-model="modelvar.tags" tag-variant="secondary" tag-pills size="sm" placeholder="Name, race, effect..."/> 
        </div>
    </script>

    <!--
        ANY|ALL
        Has a slot
    -->
    <script type='text/x-template' id='anyall'>
        <div class="query">
            <div class="anyall-buttons">
                <h6><b-badge pill>{{ modelvar.state ? "ALL" : "ANY" }}</b-badge></h6>
                <b-form-checkbox @input="modi()" v-model="modelvar.state" name="check-button" switch/>
            </div>
            <div class="anyall-item">
                <slot>A multi-input or a picker</slot>
            </div>
        </div>
    </script>

    <!--
        PICKER
        param: opts
        An array of objects with the "text" and "class" properties set
    -->
    <script type='text/x-template' id='picker'>
        <div class="picker-container">
            <b-form-checkbox class="picker-item" @input="modi()" v-for="opt in opts" v-model="modelvar[opt.value]" name="whatever" size="sm" button :button-variant="opt.variant">{{opt.text}}</b-form-checkbox>
        </div>
    </script>

    <!--
        SLIDER
        param: points
        An array of numbers at which the slider points should be located
    -->

    <script type='text/x-template' id='slider'>
        <div class="query">
            <div class="slider-title">
                <div class="first-slider-badge">
                    <b-badge pill>{{ Math.min(modelvar.lower, modelvar.upper) }}</b-badge>
                </div>
                <div class="second-slider-badge">
                    <b-badge>{{ title }}</b-badge>
                </div>
                <div class="third-slider-badge">
                    <b-badge pill>{{ Math.max(modelvar.lower, modelvar.upper) }}</b-badge>
                </div>
            </div>
            <div class="slider-proper">
                <b-form-input ref="background_slider" class="corer" style="position: absolute; z-index: 1;" type="range" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" @input="update()" @change="instantupdate()" style="position: absolute; z-index: 2;" type="range" v-model="modelvar.lower" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" @input="update()" @change="instantupdate()" style="position: absolute; z-index: 3;" type="range" v-model="modelvar.upper" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
            </div>
        </div>
    </script>

<!--
    END TEMPLATES
    END TEMPLATES
    END TEMPLATES
-->

    <div id="site">
        <div id="queries">
            
            <anyall :modi="heh" :modelvar="tagsanyall">
                <tags :modi="heh" :modelvar="tagsmodel"/>
            </anyall>

            <div class="query">
                <picker :modi="heh" :modelvar="civmodel" :opts="civs"></picker>
            </div>

            <div class="query">
                <picker :modi="heh" :modelvar="typmodel" :opts="types"></picker>
            </div>

            <div class="query">
                <slider :modi="heh" :modelvar="costmodel" title="COST" :points="cost_points"></slider>
            </div>

            <div class="query">
                <slider :modi="heh" :modelvar="powermodel" title="POWER" :points="power_points"></slider>
            </div>

            <div class="query">
                <slider :modi="heh" :modelvar="setmodel" title="SET" :points="set_points"></slider>
            </div>

            <div style="padding: 5px;">
                <b-button block @click="reset()" id="reset-button"></b-button>
            </div>
        </div>

        <div id="cards"/>

    </div>
</div>

    <script src="index.js"></script>

</body>
</html>
