<!DOCTYPE html>
<html lang="en">
<head>
    <title>DMDB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
   </head>
<body>
<div id="app">
<!--
    TEMPLATES
    TEMPLATES
    TEMPLATES
-->

    <!--
        TAGS
    -->
    <script type='text/x-template' id='tags'>
        <div class="column-container">
            <b-input-group v-for="(row, index) in rows">
                <b-form-tags input-id="tags-pills" v-model="modelvar.data.rows[index]" tag-variant="secondary" tag-pills size="sm" remove-on-delete :placeholder="(row && row.length > 0 ) ? '' : 'Name, race, effect...'"/> 
                <b-input-group-append>
                    <b-button @click="addrow(index)" size="sm" :variant="(((index + 1) == rows.length)) ? 'secondary' : 'danger'">{{ (((index + 1) == rows.length)) ? '+' : 'X' }}</b-button>
                </b-input-group-append>
            </b-input-group>
        </div>
    </script>

    <!--
        PICKER
    -->
    <script type='text/x-template' id='picker'>
        <div class="picker-container">
            <b-form-checkbox pill class="picker-item" v-for="opt in opts" @change="conflict(opt.value)" v-model="modelvar.data[opt.value]" name="whatever" :size="opt.size" button squared :button-variant="opt.variant"><font size="1">{{opt.text}}</font></b-form-checkbox>
        </div>
    </script>

    <!--
        SLIDER
    -->

    <script type='text/x-template' id='slider'>
        <div class="paddin-column-container">
            <div class="slider-title">
                <div class="first-slider-badge">
                    <b-badge pill>{{ modelvar.lower }}</b-badge>
                </div>
                <div class="second-slider-badge">
                    <b-badge>{{ title }}</b-badge>
                </div>
                <div class="third-slider-badge">
                    <b-badge pill>{{ modelvar.upper }}</b-badge>
                </div>
            </div>
            <div class="slider-proper">
                <b-form-input ref="background_slider" class="corer" :style="bgstyle + 'position: absolute; z-index: 1;'" type="range" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" style="position: absolute; z-index: 2;" type="range" v-model="modelvar.data.lowerval" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
                <b-form-input class="thumb" style="position: absolute; z-index: 3;" type="range" v-model="modelvar.data.upperval" :min="points[0]" :max="points[1]" :step="points[2]"></b-form-input>
            </div>
        </div>
    </script>

    <!--
        TOTALBADGE
    -->
    <script type='text/x-template' id='totalbadge'>
        <b-badge v-if="always || count > 0" class="totalbdg" :variant="badgevariant">
            <slot></slot>
            {{ count }}
        </b-badge>
    </script>

<!--
    END TEMPLATES
    END TEMPLATES
    END TEMPLATES
-->

    <div id="site">

        <div id="side">
            <div id="queries">

                <div id="searchtype">
                        <b-form-radio-group v-model="searchtypemodel" :options="[{text: 'CARDS', value: 'tcg'}, {text: 'DECKS', value: 'deck'}]" buttons size="sm"></b-form-radio-group>
                </div>
                
                <div id="taggroup" class="query">
                    <tags :modelvar="models.tags"></tags>
                </div>

                <div class="query pickem">
                    <picker :modelvar="models.civ" :opts="civs"></picker>

                    <div class="pickem-down">
                        <picker :modelvar="models.typ" :opts="types"></picker>
                        <picker :modelvar="models.civtyp" :opts="civtypes"></picker>
                    </div>
                </div>

                <div class="query">
                    <slider class="sliderman" :modelvar="models.cost" title="COST" :points="cost_points"></slider>
                
                    <slider class="sliderman" :modelvar="models.power" title="POWER" :points="power_points"></slider>

                    <slider class="sliderman" :modelvar="models.set" title="SET" :points="set_points"></slider>
                </div>

                <div style="display: flex; align-items: center; justify-content: space-around;">
                    <b-form-radio-group v-model="sorting.type" :options="[{text: 'A-Z', value: 'alphabetical'}, {text: 'Cost', value: 'cost'}, {text: 'Civ', value: 'civ'}]" buttons size="sm"></b-form-radio-group>
                    <b-button square size="sm" @click="reset()">RESET</b-button>
                </div>
            </div>

            <div id="deck">
                <div id="totals">
                    <div id="civtotals">
                        <div id="tottotal-wrapper">
                            <div class="subtotals-total">
                                <totalbadge :always="true" :getcards="deck_cards_to_count" badgevariant="" :testf="_ => true"></totalbadge>
                            </div>
                        </div>
                        <div id="civtotal-wrapper">
                            <div class="subtotals">
                                <totalbadge :getcards="deck_cards_to_count" badgevariant="danger" :testf="({'civilization': civs}) => civs.indexOf('fire') !== -1"></totalbadge>
                                <totalbadge :getcards="deck_cards_to_count" badgevariant="dark" :testf="({'civilization': civs}) => civs.indexOf('darkness') !== -1"></totalbadge>
                                <totalbadge :getcards="deck_cards_to_count" badgevariant="primary" :testf="({'civilization': civs}) => civs.indexOf('water') !== -1"></totalbadge>
                                <totalbadge :getcards="deck_cards_to_count" badgevariant="success" :testf="({'civilization': civs}) => civs.indexOf('nature') !== -1"></totalbadge>
                                <totalbadge :getcards="deck_cards_to_count" badgevariant="warning" :testf="({'civilization': civs}) => civs.indexOf('light') !== -1"></totalbadge>
                            </div>
                        </div>
                    </div>
                    <div id="efftotals">
                        <totalbadge :always="true" :getcards="deck_cards_to_count" badgevariant="light" :testf="is.shield_trigger"><img :src="shieldtrigger_icon"></totalbadge>
                        <totalbadge :always="true" :getcards="deck_cards_to_count" badgevariant="light" :testf="is.blocker"><img :src="blocker_icon"></totalbadge>
                        <totalbadge :getcards="deck_cards_to_count" badgevariant="light" :testf="is.evolution"><img :src="evolutioncreature_icon"></totalbadge>
                        <totalbadge :getcards="deck_cards_to_count" badgevariant="light" :testf="is.wave_striker"><img :src="wavestriker_icon"></totalbadge>
                        <totalbadge :getcards="deck_cards_to_count" badgevariant="light" :testf="is.survivor"><img :src="survivor_icon"></totalbadge>
                    </div>
                </div>
                <div id="decktextcontainer">
                    <textarea id="decktext" spellcheck="false" :style="decktext_style" v-model="active_deck.text"></textarea>
                    <div id="deckoverlay-container-wrapper">
                        <div id="deckoverlay-container" :style="'width: ' + el_property('decktext', 'width') + '; height: ' + el_property('decktext', 'height') + ';'">
                            <div v-for="card in deck_lines" class="deckoverlay">
                                <div v-if="is_card(card) && is.shield_trigger(cardinfo(card))" class="deckoverlay-icon-wrapper"><img class="deckoverlay-icon" :src="shieldtrigger_icon"></div>
                                <div v-if="is_card(card) && is.blocker(cardinfo(card))" class="deckoverlay-icon-wrapper"><img class="deckoverlay-icon" :src="blocker_icon"></div>
                                <div v-if="is_card(card) && is.evolution(cardinfo(card))" class="deckoverlay-icon-wrapper"><img class="deckoverlay-icon" :src="evolutioncreature_icon"><font size="1px">{{ evolution_baits_count(card).toString() }}</font></div>
                                <div v-if="is_card(card) && is.wave_striker(cardinfo(card))" class="deckoverlay-icon-wrapper"><img class="deckoverlay-icon" :src="wavestriker_icon"></div>
                                <div v-if="is_card(card) && is.survivor(cardinfo(card))" class="deckoverlay-icon-wrapper"><img class="deckoverlay-icon" :src="survivor_icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deckbuttons">
                    <b-button square v-on:click="active_deck.text = ''">CLEAR</b-button>
                    <b-button square v-on:click="copy_deck()" id="copybutton">COPY</b-button>
                    <b-button square v-on:click="share_deck()">SHARE</b-button>
                </div>
                <textarea id="copier" style="width: 0px; height: 0px;"></textarea>
            </div>

        </div>

        <div id="cards">
            <div id="cards-queried" v-show="!show_deck">
                <div class="card-container" v-for="(card, index) in cards" :key="card" :id="'card' + index.toString()" v-show="show[card]" :card="card" v-on:click="add_card(card)" @contextmenu="$event.preventDefault(); remove_card(card)">
                </div>
            </div>
            <div id="decks-tabs" v-show="show_deck">
                <b-tabs v-model="deck_index" card>
                    <b-tab v-for="(deck, index) in storage.decks" @click="tabclicked(index, deck.name)" :ref="'tab' + index.toString()">
                        <template v-slot:title>
                            <div :style="'width: ' + gettitlewidth(index) + '; height: ' + gettitleheight(index) + ';'" lass="tab-title-container" @keyup.enter="if (!tabedits[index]) {$event.preventDefault(); }">
                                <span :id="'tab' + index.toString() + 'title'" class="tab-title">{{deck.name}}</span>
                                <input v-show="tabedits[index]" :style="'width: ' + gettitlewidth(index)" :id="'tab' + index.toString() + 'input'" class="tab-input" type="text" @input="tabtitlechanged(index)" @keyup.enter="if (tabedits[index]) { delete tabedits[index]; $event.preventDefault(); $forceUpdate(); }" v-on:blur="delete tabedits[index]" v-model="deck.name">
                            </div>
                        </template>
                        <div id="cards-deck">
                            <div class="card-container" v-for="card in deck_cards" :key="card" :style="'width: 222px; height: ' + (307 + 20 * (Math.min(deck_cards_to_count[card], 4) - 1)) + 'px'" v-on:click="add_card(card)" @contextmenu="$event.preventDefault(); remove_card(card)">
                                <img v-show="show[card]" class="card-image" v-for="i in [...Array(Math.min(deck_cards_to_count[card], 4)).keys()]" :style="'position: absolute; top: ' + (20 * i) + 'px; z-index: ' + i" class="card-image" :alt="card" :src="card_image(card)">
                            </div>
                        </div>
                    </b-tab>

                    <template v-slot:tabs-end>
                        <b-nav-item @click.prevent="new_deck()" href="#"><b>+</b></b-nav-item>
                    </template>
                </b-tabs>
            </div>
        </div>
    </div>
</div>

    <script src="index.js"></script>

</body>
</html>
